@model List<Course>


<div class="container">
	<div class="row"> 
		<a>create</a>
	</div>
	
	<table class="table table-striped">
		<thead>

			<tr>
				<th>
					Id
				</th>
				<th>
					CourseName
				</th>
				<th>
					Teacher Id
				</th>
				<th>
					Edit
				</th>
				<th>
					Delete
				</th>
			</tr>



		</thead>


		<tbody>
			@foreach(Course course in Model)
			
			{
			
			<tr>

				<td>@course.CourseId</td>
				<td>@course.CourseName</td>
				<td>@course.TeacherId</td>
				<td>@Html.ActionLink("Edit","UpdateCourse", new {id= course.CourseId})</td>
				<td>@Html.ActionLink("delete","DeleteCourse",new {id=course.CourseId})</td>

			</tr>
			}

		</tbody>


	</table>

</div>